<div class="absolute-position">
    <div class="title-center">
        <h2>MASTER LOADS</h2>
    </div>
    <div (click)="onCreateLoadMasterClick()" style="padding: 20px 0">
        <button type="button" class="btn btn-info primary-button">Create Master
        </button>
    </div>
    <div (click)="onCreateDonationClick()">
        <button type="button" class="btn btn-info primary-button">Create Donation Order
        </button>
    </div>
    <table class="table table-borderless">
        <thead>
        <tr>
            <th style="width: 20%;">Name</th>
            <th style="width: 15%;">Date</th>
            <th style="width: 10%;">Attachment</th>
            <th style="width: 50%;">POD Loads</th>
            <th style="width: 5%;text-align: center;">Edit</th>
            <th style="width: 5%;text-align: center;">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let masterLoad of masterLoads;let i = index">
            <td>{{masterLoad['name']}}</td>
            <td>{{ masterLoad['created_at'] | date }}</td>
            <td style="text-align: center;">
                <a href="{{masterLoad['wordfile']}}" target="_blank">
                    Download
                </a>
            </td>
            <td></td>
            <td style="text-align: center;">
                <i class="material-icons" (click)="onEditClick(i)">
                    edit
                </i>
            </td>
            <td style="text-align: center;">
                <i class="material-icons" (click)="onDeleteClick(masterLoad['id'])">
                    delete
                </i>
            </td>
        </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
</div>
