<!--<div class="canvas inner_wrapper pt35" style="position: absolute;top: 100px; padding: 15px;">-->
<!--<section class="greybg center ">-->
<!--<h2>Add Territory</h2>-->
<!--<div class="container-fluid col-sm-12 menu_detail shell bg_1">-->
<!--<form [formGroup]="addEditTerritoryForm">-->
<!--<div class="form-group">-->
<!--<h4>Territory</h4>-->
<!--<input-->
<!--type="text"-->
<!--formControlName="territory"-->
<!--class="form-control"-->
<!--placeholder="Main Hub Name"-->
<!--[ngClass]="{'fp-input-error': f.mainhubname.errors }">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<h4>Country</h4>-->
<!--<app-dropdown [dropdownName]="'countries'"></app-dropdown>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<h4>Latitude</h4>-->
<!--<input-->
<!--type="text"-->
<!--formControlName="latitude"-->
<!--class="form-control"-->
<!--placeholder="ex: 5.342378"-->
<!--[ngClass]="{'fp-input-error': f.latitude.errors }">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<h4>Longitude</h4>-->
<!--<input-->
<!--type="text"-->
<!--formControlName="longitude"-->
<!--class="form-control"-->
<!--placeholder="ex: 78.324789"-->
<!--[ngClass]="{'fp-input-error': f.longitude.errors }">-->
<!--</div>-->
<!--<button-->
<!--type="submit"-->
<!--class="btn btn-default"-->
<!--(click)="onSaveClick()"-->
<!--[disabled]="f['territory'].errors ||-->
<!--f['latitude'].errors ||-->
<!--f['longitude'].errors">SAVE-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</section>-->
<div style="position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);">
    The code goes here
</div>
