.dropdown {
    button {
        background-color: rgb(246, 246, 243);
        color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &.btn-primary:hover {
            background: none;
            border-color: none;
        }
        &.dropdown-toggle {
            font-size: 18px;
        }
        &.dropdown-toggle:empty::after {
            background: red;
        }
    }
    ul {
        width: 100%;
        li {
            cursor: pointer;
            padding: 5px 15px;
        }
    }
}
