<h2 style="padding-top:100px;display:flex;justify-content:center;width:100%;">Reporting</h2>
<agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom">

    <agm-marker
        *ngFor="let m of markers;"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [iconUrl]=""
        [label]="m.label">
    </agm-marker>

    <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng"-->
    <!--[radius]="5000"-->
    <!--[fillColor]="'red'"-->
    <!--[circleDraggable]="true"-->
    <!--[editable]="true">-->
    <!--</agm-circle>-->

</agm-map>
<div class="container-fluid col-sm-12 menu_detail shell bg_1" style="padding: 35px 80px;">
    <div class="form-group" style="display: flex;justify-content: space-between;">
        <h4>Select Date</h4>
        <div class="dropdown" style="min-width: 300px;">
            <button id="year"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">Year
            </button>
            <ul class="dropdown-menu">
                <li (click)="onYearSelected()">
                    {{currentYear}}
                </li>
            </ul>
        </div>
        <div class="dropdown" style="min-width: 300px;">
            <button id="month"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">Last Month
            </button>
            <ul class="dropdown-menu">
                <li (click)="onMonthSelected()">
                    {{lastMonth}}
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group" style="display: flex;justify-content: space-between;">
        <h4>Select Main Hub</h4>
        <div class="dropdown" style="min-width: 550px;">
            <button id="mainhub"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">Select
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let hub of mainHub;" (click)="onMainHubSelected()">
                    {{hub['name']}}
                </li>
            </ul>
        </div>
    </div>
    <div class="title-center"><h2>MASTER LOADS: {{masterLoadCount || ''}}</h2></div>
</div>
<!--<i class="material-icons">-->
<!--home-->
<!--</i>-->
<!--<i class="material-icons">-->
<!--store_mall_directory-->
<!--</i>-->
