<div class="absolute-position">
    <section class="greybg center">
        <div class="title-center">
            <h2>{{ pageTitle }}</h2>
        </div>
        <div class="title-center">
            <h4>Main Hub: <i>{{mainHub?.name}}</i></h4>
        </div>
        <div class="container-fluid col-sm-12 menu_detail shell bg_1">
            <form [formGroup]="podPickupForm">
                <div class="form-group">
                    <h4>Event Name</h4>
                    <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                        placeholder="Event Name"/>
                </div>
                <div class="form-group">
                    <h4>Event Description</h4>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="description"
                        placeholder="Event Description"/>
                </div>
                <div class="form-group">
                    <h4>Select Regional Hub</h4>
                    <div class="dropdown">
                        <button
                            id="regional_hub"
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">
                            {{isCreate? 'Select' :podPickup?.regional_hub_name }}
                        </button>
                        <ul class="dropdown-menu">
                            <li
                                *ngFor="let item of regionalHubs; let i = index"
                                (click)="onRegionalHubClick(i)">
                                {{ item.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Select Pod</h4>
                    <div class="dropdown">
                        <button
                            id="pod_button"
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">
                            {{isCreate? 'Select': podPickup?.pod_name}}
                        </button>
                        <ul class="dropdown-menu">
                            <li
                                *ngFor="let item of pods; let i = index"
                                (click)="onPodClick(i)">
                                {{ item.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Event Image</h4>
                    <button mat-stroked-button type="button" (click)="eventImagePicker.click()">
                        Select Event Image
                    </button>
                    <input
                        type="file"
                        #eventImagePicker
                        name="event_image"
                        formControlName="image"
                        accept=".png, .jpg, .jpeg"
                        (input)="onImageUpload('event', $event.target.files)"
                        alt="Event Image"/>
                    <div class="image-preview" *ngIf="eventImageFile">
                        <img [src]="eventImageFile"/>
                    </div>
                    <h5 style="height: 30px;font-size: 20px;" id="event_image">
                        File URL
                    </h5>
                </div>
                <h4>Sponsor</h4>
                <div style="display: flex;">
                    <div style="padding-right: 20px">
                        <div class="form-group">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    (focusout)="onSponsor1Entered($event)"
                                    placeholder="Sponsor1 Name"
                                    value="{{this.sponsor1Name}}"
                                    id="sponsor1"/>
                            </div>
                            <button mat-stroked-button type="button" (click)="sponsor1ImagePicker.click()">
                                Select Sponsor1 Image
                            </button>
                            <input
                                type="file"
                                #sponsor1ImagePicker
                                accept=".png, .jpg, .jpeg"
                                (input)="onImageUpload('sponsor1', $event.target.files)"
                                alt="Sponsor Image"/>
                            <div class="image-preview" *ngIf="sponsor1ImageFile">
                                <img [src]="sponsor1ImageFile"/>
                            </div>
                            <h5 style="height: 30px;font-size: 20px;" id="sponsor1_image">
                                File URL
                            </h5>
                        </div>
                    </div>
                    <div *ngIf="isSponsor1Available" class="form-group">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                (keyup)="onSponsor2Entered($event)"
                                placeholder="Sponsor2 Name"
                                value="{{this.sponsor2Name}}"
                                id="sponsor2"/>
                        </div>
                        <button mat-stroked-button type="button" (click)="sponsor2ImagePicker.click()">
                            Select Sponsor2 Image
                        </button>
                        <input
                            type="file"
                            #sponsor2ImagePicker
                            accept=".png, .jpg, .jpeg"
                            (input)="onImageUpload('sponsor2', $event.target.files)"
                            alt="Sponsor Image"/>
                        <div class="image-preview" *ngIf="sponsor2ImageFile">
                            <img [src]="sponsor2ImageFile"/>
                        </div>
                        <h5 style="height: 30px;font-size: 20px;" id="sponsor2_image">
                            File URL
                        </h5>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="form-group">
                        <label style="margin: 0 20px 0 0;">
                            <h4>Start Date:</h4>
                            <input
                                class="form-control"
                                [owlDateTimeTrigger]="dt5"
                                [owlDateTime]="dt5"
                                formControlName="start_date"
                                id="fromDate"/>
                            <owl-date-time #dt5 [pickerMode]="'dialog'">
                            </owl-date-time>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <h4>End Date:</h4>
                            <input
                                class="form-control"
                                [owlDateTimeTrigger]="dt6"
                                [owlDateTime]="dt6"
                                formControlName="end_date"
                                id="toDate"/>
                            <owl-date-time #dt6 [pickerMode]="'dialog'">
                            </owl-date-time>
                        </label>
                    </div>
                </div>
                <div *ngIf="showDateError" class="alert alert-danger">
                    Start date must be less than End date
                </div>
                <button
                    type="button"
                    class="btn btn-default"
                    (click)="onSaveClick()">
                    SAVE
                </button>
            </form>
        </div>
    </section>
</div>
