<div class="absolute-position">
    <div class="title-center"><h2>Reporting</h2></div>
    <div class="title-center">
        <h4>
            Main Hub: <i>{{ mainHub?.name }}</i>
        </h4>
    </div>
    <div style="display: flex;justify-content: space-between;">
        <google-chart
            #chart
            *ngIf="data"
            [title]="title"
            [type]="type"
            [data]="data"
            [roles]="myRoles"
            [columnNames]="columnNames"
            [dynamicResize]=true
            [width]="width"
            [options]="options"
            [height]="height">
        </google-chart>
        <h5 *ngIf="!data">No Reporting data available</h5>
        <div class="rect-container" style="height: 400px;padding: 5px 10px;background: #edede6;">
            <p style="padding: 2px 5px">
                <span style="width: 20px;height: 20px;background: mediumseagreen;padding: 5px 10px;"></span>
                <span style="padding: 5px;"> Master Loads</span></p>
            <p style="padding: 2px 5px">
                <span style="width: 20px;height: 20px;background: gold;padding: 5px 10px;"></span>
                <span style="padding: 5px;">Regional Hub Loads</span></p>
            <p style="padding: 2px 5px">
                <span style="width: 20px;height: 20px;background: blue;padding: 5px 10px;"></span>
                <span style="padding: 5px;"> Pod  Loads</span></p>
        </div>
        <div
            class="container-fluid col-sm-12 menu_detail shell bg_1"
            style="padding: 35px 20px; display: none;"

        >
            <div
                class="form-group"
                style="display: flex;justify-content: space-between;"
            >
                <h4>Select Date</h4>
                <div class="dropdown" style="min-width: 86%;">
                    <button
                        id="date"
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                    >
                        {{ currentYear }}
                    </button>
                    <ul class="dropdown-menu">
                        <li (click)="onYearSelected()">{{ currentYear }}</li>
                        <li (click)="onMonthSelected()">Last Month</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
