<div class="canvas inner_wrapper pt35" style="position: absolute;top: 100px; padding: 15px;">
    <section class="greybg center ">
      <div class="container-fluid col-sm-12 menu_detail shell bg_1">
        <form [formGroup]="hubmanagerForm">
            <div class="form-group">
                <input
                    type="text"
                    formControlName="firstname"
                    class="form-control"
                    placeholder="First Name"
                    [ngClass]="{'fp-input-error': f.firstname.errors }">
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="lastname"
                    class="form-control"
                    placeholder="Last Name"
                    [ngClass]="{'fp-input-error': f.lastname.errors }">
            </div>
            <div class="form-group">
                <input
                    type="email"
                    formControlName="username"
                    class="form-control"
                    placeholder="User Name"
                    [ngClass]="{'fp-input-error': f.username.errors }">
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Password"
                    [ngClass]="{'is-invalid': submitted && f.password.errors }">
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="repeatpassword"
                    class="form-control"
                    placeholder="Repeat Password"
                    [ngClass]="{'is-invalid': submitted && f.repeatpassword.errors }">
            </div>
            <div class="form-group">
                <select class="form-control" name="country">
                    <option value="">Country</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="territory">
                    <option value="">Territory</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="mainhub">
                    <option value="">Main Hub</option>
                </select>
            </div>
            <button
                type="submit"
                class="btn btn-default"
                (click)="onLoginClick()"
                [disabled]="f['username'].errors ||f['password'].errors">Login
            </button>
        </form>
      </div>
    </section>
</div>
