<div class="absolute-position">
    <div style="display: flex;justify-content: space-between;" (click)="onAddTerritoryClick()">
        <h2>Territories</h2>
        <button type="button" class="btn btn-info"
                style="height: 50px;display: flex;align-items: center;">Add territory
            <i class="material-icons" style="color: #fff"> add </i>
        </button>
    </div>
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Territory</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of territories; let i = index">
            <td>{{item.territory}}</td>
            <td>{{item.country}}</td>
            <td>
                <i class="material-icons" (click)="onEditClick(i)">
                    edit
                </i>
            </td>
            <td>
                <i class="material-icons" (click)="onDeleteClick(territories[i]['id'])">
                    delete
                </i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>

