<div class="absolute-position">
    <section class="greybg center ">
        <h2 class="page-header" style="margin: 10px 80px;">{{pageTitle}}</h2>
        <div class="container-fluid col-sm-12 menu_detail shell bg_1">
            <form [formGroup]="form">
                <div class="form-group">
                    <h4>Name</h4>
                    <input
                        type="text"
                        formControlName="territory"
                        class="form-control"
                        placeholder="Main Hub Name"
                        value="{{territory?.territory || ''}}">
                </div>
                <div class="form-group">
                    <h4>Description</h4>

                </div>
                <div class="form-group">
                    <h4>Image</h4>
                    <input
                        type="text"
                        formControlName="latitude"
                        class="form-control"
                        placeholder="ex: 5.342378"
                        value="{{territory?.latitude || ''}}">
                </div>
                <div class="form-group">
                    <h4>Select Hub</h4>
                    <div class="dropdown">
                        <button id="country_button"
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                data-toggle="dropdown">{{territory?.country || 'Select'}}
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of countries; let i = index" (click)="onCountryClick(i)">
                                {{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Latitude</h4>
                    <label></label>
                </div>
                <div class="form-group">
                    <h4>Longitude</h4>
                    <label></label>
                </div>
                <div class="form-group">
                    <h4>Start Date</h4>
                    <!--<mat-form-field>-->
                        <!--<input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="date.value">-->
                        <!--<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>-->
                        <!--<mat-datepicker #picker3></mat-datepicker>-->
                    <!--</mat-form-field>-->
                </div>
                <div class="form-group">
                    <h4>End Date</h4>
                    <input
                        type="text"
                        formControlName="latitude"
                        class="form-control"
                        placeholder="ex: 5.342378"
                        value="{{territory?.latitude || ''}}">
                </div>
                <div class="form-group">
                    <h4>Start Time</h4>
                    <input
                        type="text"
                        formControlName="longitude"
                        class="form-control"
                        placeholder="ex: 78.324789"
                        value="{{territory?.longitude || ''}}">
                </div>
                <div class="form-group">
                    <h4>End Time</h4>
                    <input
                        type="text"
                        formControlName="latitude"
                        class="form-control"
                        placeholder="ex: 5.342378"
                        value="{{territory?.latitude || ''}}">
                </div>
                <button
                    type="submit"
                    class="btn btn-default"
                    (click)="onSaveClick(form.value)">SAVE
                </button>
            </form>
        </div>
    </section>
</div>

