<div class="absolute-position">
    <section class="greybg center ">
        <h2 class="page-header" style="margin: 10px 80px;height: 50px;">{{pageTitle}}</h2>
        <div class="container-fluid col-sm-12 menu_detail shell bg_1">
            <form [formGroup]="hubPickupForm">
                <div class="form-group">
                    <h4>Event Name</h4>
                    <input
                        type="text"
                        formControlName="event_name"
                        class="form-control"
                        placeholder="Event Name">
                </div>
                <div class="form-group">
                    <h4>Event Description</h4>
                    <input
                        type="text"
                        formControlName="event_description"
                        class="form-control"
                        placeholder="Event Description">
                </div>
                <div class="form-group">
                    <h4>Event Image</h4>
                    <input
                        type="file"
                        id="file"
                        name="event_image"
                        formControlName="event_image"
                        accept="image/*"
                        alt="Event Image">
                </div>
                <div class="form-group">
                    <h4>Select Hub</h4>
                    <div class="dropdown">
                        <button id="country_button"
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                data-toggle="dropdown">Select
                        </button>
                        <ul class="dropdown-menu">
                            <li
                                (click)="onHubClick(i)">
                                {{mainHub?.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <h4>Sponsor</h4>
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        <div class="form-group">
                            <h4>Sponsor Image</h4>
                            <input
                                type="file"
                                id="image"
                                name="sponsor_image"
                                formControlName="sponsor_image"
                                accept="image/*"
                                alt="Sponsor Image">
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                formControlName="sponsor_name"
                                class="form-control"
                                placeholder="Sponsor Name">
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <h4>Sponsor Image</h4>
                            <input
                                type="file"
                                id="image2"
                                name="sponsor_image"
                                formControlName="sponsor_image"
                                accept="image/*"
                                alt="Sponsor Image">
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                formControlName="sponsor_name"
                                class="form-control"
                                placeholder="Sponsor Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Add Sponsor Name</h4>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Sponsor Name">
                </div>
                <div class="form-group">
                    <h4>Start Date</h4>

                </div>
                <div class="form-group">
                    <h4>End Date</h4>

                </div>
                <div class="form-group">
                    <h4>Start Time</h4>
                    <input
                        type="text"
                        formControlName="start_time"
                        class="form-control"
                        placeholder="Start Time">
                </div>
                <div class="form-group">
                    <h4>End Time</h4>
                    <input
                        type="text"
                        formControlName="end_time"
                        class="form-control"
                        placeholder="End Time">
                </div>
                <button
                    type="submit"
                    class="btn btn-default"
                    (click)="onSaveClick()">SAVE
                </button>
            </form>
        </div>
    </section>
</div>

