<div class="create_pods_section">
  <div class="create_pods_section--first-step">
    <input type="text" name="" value="" placeholder="First Name">
    <input type="text" name="" value="" placeholder="last Name">
    <input type="text" name="" value="" placeholder="Email">
    <input type="text" name="" value="" placeholder="Password">
    <input type="text" name="" value="" placeholder="Retype Password">
    <input type="text" name="" value="" placeholder="Vendor Name">
    <input type="text" name="" value="" placeholder="Country">
    <input type="text" name="" value="" placeholder="Teritory">
    <input type="text" name="" value="" placeholder="Main Hub">
    <input type="text" name="" value="" placeholder="Regional Hub">
    <input type="text" name="" value="" placeholder="Tags">
    <input type="text" name="" value="" placeholder="Description">

    <button type="button" name="button" class="btn btn-default">Create Pods</button>
  </div>

</div>
