<div style="position: absolute;top: 100px;left: 100px; right: 100px;">
    <h2>Territories</h2>
    <button>Add territory
        <i class="material-icons"> add </i></button>
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Territory</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gridData of gridMetadata; let i = index">
            <td>{{territories[i]['name']}}</td>
            <td>{{territories[i]['country']}}</td>
            <td>
                <i class="material-icons" (click)="onEditClick()">
                    edit
                </i>
            </td>
            <td>
                <i class="material-icons" (click)="onDeleteClick(territories[i]['id'])">
                    delete
                </i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>

