<div class="canvas inner_wrapper pt35" style="position: absolute;top: 100px; padding: 15px;">
    <section class="greybg center ">
        <h2>Create Main Hub</h2>
        <div class="container-fluid col-sm-12 menu_detail shell bg_1">
            <form [formGroup]="createRegionalhubsForm">
                <div class="form-group">
                    <h4>Regional Hub</h4>
                    <input
                        type="text"
                        formControlName="regionalhubname"
                        class="form-control"
                        placeholder="Regional Hub Name"
                        [ngClass]="{'fp-input-error': f.regionalhubname.errors }">
                </div>
                <button
                    type="submit"
                    class="btn btn-default"
                    (click)="onCreateRegionalHubClick()"
                    [disabled]="f['regionalhubname'].errors">SAVE
                </button>
            </form>
        </div>
    </section>
</div>
