<div class="absolute-position">
    <div class="title-center">
        <h2>Pod Managers</h2>
    </div>
    <div (click)="onCreatePodManagerClick()">
        <button type="button" class="btn btn-info" style="width: 100%;align-items: center;height: 50px;">Create Pod Manager
        </button>
    </div>
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Usename</th>
            <th style="width: 5%;text-align: center;">Edit</th>
            <th style="width: 5%;text-align: center;">Delete</th>
        </tr>
        </thead>
    </table>
    <router-outlet></router-outlet>
</div>
