<div class="tab-absolute-position">
  <!-- <h1 class="hedaing_title"> Order Management</h1> -->
  <div class="title-center">
      <h4>Main Hub: <i>{{mainHubName}}</i></h4>
  </div>
  <div class="order_mngmnt_card_view" >
    <ng-container *ngFor="let item of allordersdata" class="regional_hub_section">
      <!-- <p>{{item.name}}</p> -->
      <ng-container *ngFor="let pods of item.pods">
        <!-- <p>{{pods.name}}</p> -->
        <ng-container *ngFor="let orders of pods.orders; let i = index">
          <div class="card_view accordion-toggle" data-toggle="collapse" [attr.data-target]="i" (click)="openaccordian(orders,i)">
            <div class="card_view_icon">
              <img src="assets/images/truck.jpeg" alt="">
            </div>
            <div class="crad_view__creation_details">
              <p>Order Creation: {{orders.created_at | date}}</p>
            </div>
            <div class="card_view__names" *ngIf="orders.driver_name">
              <p>Volunteer: {{orders.driver_name}}</p>
            </div>
            <div class="card_view__names" *ngIf="!orders.driver_name">
              <p>Volunteer: N/A</p>
            </div>
            <div class="card_view__actions">
              <button type="button" name="button" [ngClass]="{
                'button_arrived':orders.status === 'ARRIVED',
                'button_ready':orders.status === 'POD READY',
                'button_palletized':orders.status === 'PALLETIZED',
                'button_dispatched':orders.status === 'DISPATCHED',
                'button_delivered':orders.status === 'DELIVERED'}">{{orders.status}}</button>
            </div>
          </div>
          <div class="accordian-body card_view_collapsed" id="{{orders.id+''}}" *ngIf="selectedid == orders.id">
            <div class="title-center">
                <h4>Select Order Status</h4>
            </div>
            <div class="order_staus_action_buttons">
              <div class="card_view__actions">
                <button type="button" name="button" value="ARRIVED" (click)="onStatusClick($event)" class="button_arrived">Arrived</button>
              </div>
              <div class="card_view__actions">
                <button type="button" name="button" value="PALLETIZED" (click)="onStatusClick($event)" class="button_palletized">Palletized</button>
              </div>
              <div class="card_view__actions">
                <button type="button" name="button" value="POD READY" (click)="onStatusClick($event)" class="button_ready">Ready</button>
              </div>
              <div class="card_view__actions">
                <button type="button" name="button" value="DISPATCHED" (click)="onStatusClick($event)" class="button_dispatched">Dispatched</button>
              </div>
              <div class="card_view__actions">
                <button type="button" name="button" value="DELIVERED" (click)="onStatusClick($event)" class="button_delivered">Delivered</button>
              </div>
            </div>
            <div class="volunteer_dropdown">
              <div class="form-group">
                  <h4>Volunteer</h4>
                  <div class="dropdown">
                    <button id="volunteer_button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" *ngIf="pods.orders"> {{orders.driver_name}}</button>
                    <button id="volunteer_button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" *ngIf="!pods.orders"> Select</button>
                    <ul class="dropdown-menu">
                      <!-- (click)="onCountryClick(i, item['id'])" -->
                      <li *ngFor="let item of filteredVolunteers; let i = index" (click)="onVolunteerClick(i, item)">
                          {{ item.username }}
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="load__details">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Request Name</th>
                    <th>Date</th>
                    <th>Pallets</th>
                    <th>Box</th>
                    <th>Items</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ ordersdata.name }}</td>
                    <td>{{ ordersdata.created_at | date }}</td>
                    <td>
                      <p *ngFor="let pallet of ordersdata.pallets">  {{pallet.category_name}} X {{pallet.quantity}}</p>
                    </td>
                    <td>
                      <p *ngFor="let boxes of ordersdata.boxes">{{boxes.category_name}} X {{boxes.quantity}}</p>
                    </td>
                    <td>
                      <p *ngFor="let item of ordersdata.items">{{item.category_name}} X {{item.quantity}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>
</div>
