<div style="position: absolute;top: 100px;left: 300px">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Territory</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gridData of gridMetadata; let i = index">
            <td>{{territories[i]}}</td>
            <td>{{country[i]}}</td>
            <td>
                <i class="material-icons" (click)="onEditClick()">
                    edit
                </i>
            </td>
            <td>
                <i class="material-icons" (click)="onDeleteClick()">
                    delete
                </i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

