<div class="dashboard_content_layout pod_applications">
  <div class="sub_menu_layout">
    <div class="sub_menu_layout_actions distribution_menu">
      <p style="font-size: x-large;" [ngClass]="{active: currentpage.name == 'GIK_DONATIONS'}"  (click)="currentpage.name = 'GIK_DONATIONS'" [routerLink]="['./gikdonations']">GIK Donations</p>
      <p style="font-size: x-large;" [ngClass]="{active: currentpage.name == 'VOLUNTEERS'}"  (click)="currentpage.name = 'VOLUNTEERS'" [routerLink]="['./volunteers']">Volunteers</p>
    </div>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
