<span style="font-size:30px;cursor:pointer;position: absolute; left: 15px; top: 100px;"
      (click)="openNav()">&#9776;</span>
<div id="leftmenu"
     class="sidenav"
     style="position: absolute;top: 70px;">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <ng-container *ngIf="sideNavData.length">
        <a *ngFor="let item of sideNavData"
           class="nav-link"
           routerLink="/admin/{{item.toLowerCase()}}"
           routerLinkActive="active"
           (click)="closeNav()">{{item | titlecase}}</a>
    </ng-container>
</div>
<router-outlet></router-outlet>
