<h2 style="padding-top:100px;display:flex;justify-content:center;width:100%;">Reporting</h2>
<div class="title-center">
    <h4>Main Hub:
        <i>{{mainHubName}}</i>
    </h4>
</div>
<div>
    <div style="height: 350px;width: 85%;margin: 0 auto;">
        <agm-map
            [latitude]="latitude"
            [longitude]="longitude"
            (mapReady)="mapReady($event)">
            <agm-marker
                *ngFor="let m of markers;"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                [iconUrl]="m.icon"
                [label]="m.label">
            </agm-marker>
        </agm-map>
    </div>
    <div class="container-fluid col-sm-12 menu_detail shell bg_1" style="padding: 35px 80px;">
        <div class="form-group">
            <h4>Country</h4>
            <div class="dropdown">
                <button id="country_button"
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">Select
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let item of countries; let i = index" (click)="onCountryClick(i)">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <h4>Territory</h4>
            <div class="dropdown">
                <button id="territory_button"
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">Select
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let item of territories; let i = index" (click)="onTerritoryClick(i)">
                        {{item.territory}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <h4>MainHub</h4>
            <div class="dropdown">
                <button id="mainhub"
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">Select
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let hub of mainHub;" (click)="onMainHubSelected(hub)">
                        {{hub.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <h4>Select Date</h4>
            <div class="dropdown">
                <button id="date"
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">Select
                </button>
                <ul class="dropdown-menu">
                    <li (click)="onYearSelected()">
                        {{currentYear}}
                    </li>
                    <li (click)="onMonthSelected()">
                        Last Month
                    </li>
                </ul>
            </div>
        </div>
        <tree [tree]="tree" class="tree-plugin"></tree>
    </div>
</div>
