<div id="leftmenu" class="sidenav sidenav__admin-dashboard" style="background-color: #edede6">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="leftmenu-header text-center">
        <img src="assets/images/logo.png" alt="logo" style="height: 65px;object-fit: contain;">
        <div style="color: #818181;">{{userName}}</div>
        <div>
            <a class="nav-link" style="color:#67c4ea;cursor:pointer;" (click)="onLogout()">
                Logout
            </a>
        </div>
    </div>

    <ng-container>
        <a class="nav-link" routerLink='./territories' (click)="closeNav()">Territories</a>
        <a class="nav-link" routerLink='./mainhubs' (click)="closeNav()">Main Hubs</a>
        <a class="nav-link" routerLink='./mainhubmanagers' (click)="closeNav()">Main Hub Managers</a>
        <a class="nav-link" routerLink='./reporting' (click)="closeNav()">Reporting</a>
    </ng-container>
</div>
<router-outlet></router-outlet>
