<table class="table table-borderless">
    <thead>
    <tr>
        <th>Name</th>
        <th>Avilablity</th>
        <th>Phone</th>
        <th style="width: 5%;text-align: center;">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        hjnvng
      </td>
      <td>
        <div class="button-switch">
          <input type="checkbox" id="switch-blue" class="switch" checked />
          <!-- <label for="switch-blue" class="lbl-off"></label>
          <label for="switch-blue" class="lbl-on"></label> -->
        </div>
      </td>
      <td>
        jhk,hjh
      </td>
      <td style="text-align: center;">
          <i class="material-icons" (click)="onDeleteClick(item['id'])">
              delete
          </i>
      </td>
      <td>
      </td>
    </tr>
    </tbody>
</table>
