<div class="tab-absolute-position">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Name</th>
                <th>Avilablity</th>
                <th>Phone</th>
                <th style="width: 5%;text-align: center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allvolunters">
                <td>{{ item.first_name }}.{{ item.last_name }}</td>
                <td>
                    <div class="button-switch">
                      <input type="checkbox" id="switch-blue" class="switch"  checked  *ngIf="item.available == true"  />
                      <input type="checkbox" id="switch-blue" class="switch"  *ngIf="item.available == false"/>
                      <!--
                          <label for="switch-blue" class="lbl-off"></label>
                          <label for="switch-blue" class="lbl-on"></label>
                        -->
                    </div>
                </td>
                <td>{{ item.phone }}</td>
                <td style="text-align: center;">
                    <i class="material-icons" (click)="deletevolunteer(item['id'])">
                        delete
                    </i>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button
            type="button"
            name="button"
            class="btn btn-default new_btn"
            data-toggle="modal"
            data-target="#exampleModal"
            style="height: 50px;align-items: center;width: 100%;"
            (click)="newvolunterpopup = true">
            New Volunteer
        </button>
    </div>

<div class="">
  <table class="table table-borderless">
      <!-- <thead>
          <tr>
              <th>Name</th>
              <th>Avilablity</th>
              <th>Phone</th>
              <th style="width: 5%;text-align: center;">Delete</th>
          </tr>
      </thead> -->
      <tbody>
          <tr *ngFor="let item of allregisteredvolunters">
              <td>{{ item.first_name }}.{{ item.last_name }}</td>
              <td>{{ item.phone }}</td>
              <td style="text-align: center;">
                  <button class="add_button" type="button" name="button" (click)="Addvolunter(item)" *ngIf="!item.selected">Add Driver</button>
                  <button class="remove_button" type="button" name="button" *ngIf="item.selected">Remove Driver</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog"  aria-hidden="true" *ngIf="newvolunterpopup" style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal__header">
        <h5 class="modal-title" id="exampleModalLabel">New Volunteer</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newvolunteersform">
          <div class="new_volunteer_fields">
            <input formControlName="firstname" type="text" name="" value="" placeholder="First Name">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="lastname" type="text" name="" value="" placeholder="Last Name">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="contact" type="text" name="" value="" placeholder="Contact">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="username" type="text" name="" value="" placeholder="Username">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="password" type="text" name="" value="" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="createVolunteers()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="newvolunterpopup = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
