<div class="create_pods_section">
    <form [formGroup]="registerpodform">
        <div class="create_pods_section--first-step">
            <div class="form-group">
                <h4>First Name</h4>
                <input type="text" class="form-control" name="" value="" placeholder="First Name"
                       formControlName="firstname">
            </div>
            <div class="form-group">
                <h4>Last Name</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Last Name"
                       formControlName="lastname">
            </div>
            <div class="form-group">
                <h4>Email</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Email"
                       formControlName="email">
            </div>
            <div class="form-group">
                <h4>Password</h4>
                <input type="password" class="form-control" name="" value="" placeholder="Password"
                       formControlName="password">
            </div>
            <div class="form-group">
                <h4>Retype Password</h4>
                <input type="password" class="form-control" name="" value="" placeholder="Retype Password"
                       formControlName="repeatpassword">
            </div>
            <div class="form-group">
                <h4>Pod Name</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Pod Name"
                       formControlName="church_name">
            </div>
            <div class="form-group">
                <h4>Country</h4>
                <div class="dropdown">
                    <button id="country_button"
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">Select country
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of countries; let i = index" (click)="onCountryClick(i, item['id'])">
                            {{item.name}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <h4>Sponsor</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Sponsor"
                       formControlName="sponsor">
            </div>
            <div class="form-group">
                <h4>Title</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Title"
                       formControlName="title">
            </div>

            <div class="form-group">
                <h4>Church Type</h4>
                <div class="dropdown">
                    <button id="church_type"
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">Select Church
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let type of churchType" (click)="onConnectedByClick(type)">{{type}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <h4>Connected By</h4>
                <div class="dropdown">
                    <button id="connected_by"
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">Select Connected By
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of connectedBy" (click)="onConnectedByClick(item)">{{item}}</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="form-group">
                <h4>Connected By</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Connected By"
                       formControlName="connectedBy">
            </div> -->
            <div class="form-group">
                <h4>Upload Attachments</h4>
                <input type="file" class="form-control" name="" value="" placeholder="Upload Attachments"
                       formControlName="uploadAttachments">
            </div>

            <div class="form-group">
                <h4>Latitude</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Latitude"
                       formControlName="latitude">
            </div>
            <div class="form-group">
                <h4>Longitude</h4>
                <input type="text" class="form-control" name="" value="" placeholder="Longitude"
                       formControlName="longitude">
            </div>
            <button type="submit"
                    class="btn btn-default"
                    [disabled]="!registerpodform.valid"
                    (click)="createPod()">Create Pods
            </button>
        </div>
    </form>
</div>
