<div class="dashboard_content_layout regional__hub">
    <div class="title-center">
        <h2>Create Regional Hub</h2>]
    </div>
  <div class="regional__hub-section">
    <div class="form-group">
      <h4>Main Hub : <span>{{MainHubName}}</span></h4>
    </div>
    <div class="form-group">
      <h4>Regional Hub</h4>
      <input type="text" class="form-control" [(ngModel)]="createRegionName" placeholder="Enter Regional Hub" required/>
    </div>
    <button type="submit" name="button" class="btn btn-default" (click)="createRegionHub()">Create</button>

    <!-- <button type="button" name="button" class="hubcreation" (click)="createRegionHub()">create</button> -->
  </div>
</div>
