<div class="absolute-position">
    <div>
        <div class="title-center"><h2>Regional Hubs</h2></div>
        <button
            (click)="onAddRegionalHubClick()"
            type="button"
            class="btn btn-info"
            style="height: 50px;align-items: center;width: 100%;"
        >
            Add Regional Hubs
        </button>
    </div>
    <div class="title-center">
        <h4>
            Main Hub: <i>{{ mainHub?.name }}</i>
        </h4>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 10%;text-align: center;">Edit</th>
                <th style="width: 10%;text-align: center;">Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of regionalHubs; let i = index">
                <td>{{ item.name }}</td>
                <td style="text-align: center;">
                    <i class="material-icons" (click)="onEditClick(i)">
                        edit
                    </i>
                </td>
                <td style="text-align: center;">
                    <i
                        class="material-icons"
                        (click)="onDeleteClick(regionalHubs[i]['id'])"
                    >
                        delete
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
