<div class="absolute-position">
    <div class="title-center">
        <h2>Main Hub</h2>
    </div>
    <div (click)="onAddMainhubClick()">
        <button type="button" class="btn btn-info" style="width: 100%;align-items: center">Add Main Hub
        </button>
    </div>
    <div class="form-group">
        <h4>Country</h4>
        <div class="dropdown">
            <button id="country_button"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">Select Country
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let item of countries; let i = index" (click)="onCountryClick(i)">
                    {{item.name}}
                </li>
            </ul>
        </div>
    </div>
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Main Hub</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mainhubs; let i = index">
            <td>{{item.name}}</td>
            <td style="text-align: center">
                <i class="material-icons" (click)="onEditClick(i)">
                    edit
                </i>
            </td>
            <td style="text-align: center">
                <i class="material-icons" (click)="onDeleteClick(mainhubs[i]['id'])">
                    delete
                </i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>

