<div class="absolute-position">
    <div class="title-center">
        <h2>Create Donation Order</h2>
    </div>
    <div class="title-center">
        <h4>Main Hub: <i>{{mainHub?.name}}</i></h4>
    </div>
    <form [formGroup]="createDonationOrderForm">
        <div class="form-group">
            <h4>Master Load</h4>
            <div class="dropdown">
                <button
                    id="master_load"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">
                    Select
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let masterLoad of masterLoads;let i = index"
                        (click)="onMasterLoadClick(i)">{{masterLoad['name']}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <h4>Regional Hub</h4>
            <div class="dropdown">
                <button
                    id="regional_hub"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">
                    Select
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let regionalHub of regionalHubs;let i = index"
                        (click)="onRegionalHubClick(i)">{{regionalHub['name']}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <h4>Select | Customize Pod Load </h4>
            <div class="dropdown">
                <button
                    id="pod_load"
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">
                    Select
                </button>
                <ul class="dropdown-menu">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>Request Name</th>
                            <th>Date</th>
                            <th>Pallets</th>
                            <th>Box</th>
                            <th>Items</th>
                            <th style="width: 5%;text-align: center;">Customize</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let load of loads" (click)="onLoadRequestSelected(load)">
                            <td>{{ load.name }}</td>
                            <td>{{ load.created_at | date }}</td>
                            <td>
                                <p
                                    *ngFor="let pallet of load.pallets;">{{ pallet['category_name']}} X
                                    {{pallet['quantity']}}
                                </p>
                            </td>
                            <td>
                                <p
                                    *ngFor="let box of load.boxes;"> {{ box['category_name']}} X {{box['quantity']}}
                                </p>
                            </td>
                            <td>
                                <p
                                    *ngFor="let item of load.items;">{{ item['category_name']}} X {{item['quantity']}}
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <i class="material-icons" (click)="clickCustomize(load.id)">
                                    edit
                                </i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-default"
            (click)="saveDonationOrder()">
            Create Load
        </button>
    </form>
</div>
