<div class="canvas inner_wrapper pt35" style="position: absolute;top: 100px; padding: 15px;">
    <section class="greybg center ">
      <h2>Create Main Hub</h2>
      <div class="container-fluid col-sm-12 menu_detail shell bg_1">
        <form [formGroup]="createMainhubrForm">
            <div class="form-group">
                <input
                    type="text"
                    formControlName="mainhubname"
                    class="form-control"
                    placeholder="Main Hub Name"
                    [ngClass]="{'fp-input-error': f.mainhubname.errors }">
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="latitude"
                    class="form-control"
                    placeholder="Latitude"
                    [ngClass]="{'fp-input-error': f.latitude.errors }">
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="longitude"
                    class="form-control"
                    placeholder="Longitude"
                    [ngClass]="{'fp-input-error': f.longitude.errors }">
            </div>
            <div class="form-group">
                <select class="form-control" name="country">
                    <option value="">Country</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="territory">
                    <option value="">Territory</option>
                </select>
            </div>
            <button
                type="submit"
                class="btn btn-default"
                (click)="onCreateMainHubClick()"
                [disabled]="f['mainhubname'].errors ||
                            f['latitude'].errors ||
                            f['longitude'].errors">REGISTER
            </button>
        </form>
      </div>
    </section>
</div>
