<div class="dashboard_content_layout pod_applications">
  <button type="button" name="button" class="btn btn-default new_btn">Create Pod Request</button>

  <table class="table table-borderless">
      <thead>
        <tr>
          <th>Request Name</th>
          <th>Date</th>
          <th >Add/Edit</th>
          <th style="width: 5%;text-align: center;">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            LOad 1
          </td>
          <td>
            12/10/18
          </td>
          <td >
            <i class="material-icons">
                edit
            </i>
          </td>
          <td style="text-align: center;">
              <i class="material-icons">
                  delete
              </i>
          </td>
          <td>
          </td>
        </tr>

      </tbody>
  </table>
</div>


<div class="modal" id="exampleModal" tabindex="-1" role="dialog"  aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Volunteer</h5>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="newvolunteersform">
          <div class="new_volunteer_fields">
            <input formControlName="firstname" type="text" name="" value="" placeholder="First Name">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="lastname" type="text" name="" value="" placeholder="Last Name">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="contact" type="text" name="" value="" placeholder="Conatact">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="username" type="text" name="" value="" placeholder="Username">
          </div>
          <div class="new_volunteer_fields">
            <input formControlName="password" type="text" name="" value="" placeholder="Password">
          </div>
        </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="createVolunteers()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="newvolunterpopup = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
