<div class="absolute-position">
    <div class="title-center">
        <h2>Create Master Load</h2>
    </div>
    <form [formGroup]="createMasterForm">
        <div class="form-group">
            <h4>Load Name</h4>
            <input
                type="text"
                class="form-control"
                placeholder="Load Name"
                formControlName="name"/>
        </div>
        <div class="form-group">
            <h4>Upload Attachments</h4>
            <div [ngClass]="{'hide-file-container' : hideFileContainer}">
                    <button mat-stroked-button style="width:200px;" type="button" (click)="filePicker.click()">
                        Select Excel
                    </button>
                <input type="file"
                        #filePicker
                       class="form-control"
                       placeholder="Upload Word Attachments"
                       [accept]="' .xls, .xlsx, .xlsb, .xlsm , .xlt , .xltm , .xltx , .xlw'"
                       formControlName="excelfile"
                       (change)="onFilePicked($event.target.files)">
                <h5 style="height: 30px;font-size: 20px;" id="wordfile_name">
                    {{wordFileToUpload !== null ? wordFileToUpload?.name : wordfileURL ? wordfileURL :'File URL' }}
                </h5>
            </div>
        </div>
        <button type="submit"
                class="btn btn-default"
                [disabled]="!createMasterForm.valid"
                (click)="createMaster()">Create Master Load
        </button>
    </form>
</div>
