.dropdown {
    height: 50px;
    button {
        height: 50px;
        background-color: rgb(246, 246, 243);
        color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &.dropdown-toggle {
            font-size: 18px;
            color: #999;
        }
        &.dropdown-toggle::after {
            position: absolute;
            top: 20px;
            right: 15px;
        }
    }
    ul {
        width: 100%;
        li {
            padding: 5px 15px;
            cursor: pointer;
        }
    }
}
